.total-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}

.upper-body{
    font-size:50px;
}

.lower-body{
    font-size:30px;
    margin-top:5%;
}